@mixin elem() {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result {
  padding-bottom: 0;
  padding-top: 48px;

  @media (min-width: $screen-md) {
    padding-top: 91px;
  }
}

.result__slider {
  position: relative;
  z-index: 0;
}

.result__header {
  max-width: 280px;
  margin-bottom: 20px;

  @media (min-width: $screen-md) {
    max-width: 690px;
    margin-bottom: 78px;
  }
}

.result__item {
  display: block;
  text-decoration: none;
  // margin: 5px;

  &::after {
    @include elem();
    opacity: 1;
    background: rgba($white, 0.35%);
    transition: $time;
  }

  @media (min-width: $screen-md) {
    margin: 0;
  }
}

.result__img {
  // max-width: 244px;
  width: 100%;
  height: 358px;
  object-fit: cover;

  @media (min-width: $screen-md) {
    height: 400px;
    max-width: 100%;
  }
}

.result__insta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 28px 30px;
  z-index: 1;
  transition: $time;

  // background-image: linear-gradient(-39deg, rgba(3, 7, 10, 0.77) 0%, rgba(192, 195, 214, 0.28) 100%);

  &::before {
    @include elem();
    width: 101%;
    z-index: -1;
    opacity: 0;
    transition: $time;
    background-image: linear-gradient(-39deg, rgba(3, 7, 10, 0.77) 0%, rgba(192, 195, 214, 0.28) 100%);
  }



  @media (min-width: $screen-md) {
    margin: 0;
  }
}


.result__item:hover {

  &::after {
    opacity: 0;
  }

  .result__insta::before {
    opacity: 1;
  }

  .result__increase {
    opacity: 1;
  }
}

.result__insta span {
  display: block;
  font-size: 8px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  // opacity: 0.5;
  text-shadow: 1px 1px 1px #000;
  color: #efefef;
  margin-bottom: 7px;
}

.result__insta a {
  font-size: 14px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  color: #efefef;
}

.result .owl-nav {
  margin: 0;
}

.result .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;

  border-radius: 50%;
  box-shadow: 0 17px 38px rgba(89, 89, 89, 0.11);
  background-color: #fff!important;
  background-repeat: no-repeat !important;
  background-size: 12px !important;
  background-position: center !important;

  span {
    display: none;
  }

  @media (min-width: $screen-md) {
    width: 68px;
    height: 68px;
    background-size: 17px !important;
  }
}

.result .owl-nav .owl-prev {
  left: 15px;
  background-image: url("../img/icon/icon-arrow-back-black.svg") !important;

  @media (min-width: $screen-md) {
    left: 40px;
  }
}

.result .owl-nav .owl-next {
  right: 15px;
  background-image: url("../img/icon/icon-arrow-next-black.svg") !important;

  @media (min-width: $screen-md) {
    right: 40px;
  }
}

.result__increase {
  content: "";
  position: absolute;
  top: 16px;
  right: 22px;
  width: 26px;
  height: 26px;
  opacity: 0;
  transition: $time;
  background: url("../img/icon/full-screen.svg") no-repeat center / contain;
}
