.range {
  position: absolute;
  top: -11px;
  left: 62px;
  right: 0;
  width: 42px;
  height: calc(100% + 21px);
  box-shadow: inset 3px 0 7px rgba(0, 0, 0, 0.49);
  border-radius: 50px;
  background-image: linear-gradient(to top, #211820 0%, #2a2f37 100%);
}

.range__gradient {
  position: relative;
  height: 146px;
  border-radius: 50px;
  transition: $time;
  box-shadow: inset 3px 0 7px rgba(0, 0, 0, 0.49);
  background-image: linear-gradient(-231deg, #da4453 0%, #89216b 100%);
}

.range__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 42px;
  height: 43px;
  box-shadow: 2px 0 13px rgba(0, 0, 0, 0.5), 0 0 79px rgba(203, 122, 168, 0.65);
  background-color: $white;
  border: none;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50% ,-50%) rotate(45deg);
    border-right: 1px solid #030303;
    border-bottom: 1px solid #030303;
  }

}
