.phone-callback {
  // position: relative;
  max-width: 195px;
  text-align: right;
  color: $white;
  margin-top: 6px;
  // z-index: 9;
  // padding-right: 15px;

  @media(min-width: $screen-md) {
    padding-right: 41px;
    // z-index: 1;
  }
}

.phone-callback__tel {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 0;
  color: $white;
  margin-right: 5px;
  background: url("../img/icon/icon-telephone.svg") no-repeat 0 50% / contain;

  @media(min-width: $screen-xl) {
    font-size: 16px;
    width: auto;
    height: auto;
    font: 700 16px/20px $unineue;
    background: none;
  }

  // @media(min-width: $screen-xl) {
  //   margin-bottom: -3px;
  // }
}

.phone-callback__btn {
  display: none;

  @media(min-width: $screen-xl) {
    display: inline-block;
    color: #b8bfd1;
    background: transparent;
    font: 400 14px/17px $geometria;
    padding: 0;
    margin-right: 3px;
    //text-transform: uppercase;
    border: none;
    border-bottom: 1px dotted #515558;
  }
}
