.section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  &--black {
    background: $black;
  }
}

.section__header {
  margin-bottom: 50px;

  &--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.section__footer {

  &--center {
    text-align: center;
  }
}

.section__row {
  @include make-row();
}

.section__col-large {
  @include make-col-ready();

  @media (min-width: $screen-lg) {
    @include make-col(7);
  }

  @media(min-width: $screen-xl) {
    @include make-col(7.5);
    max-width: 730px;
  }
}

.section__col-medium {
  @include make-col-ready();

  @media (min-width: $screen-lg) {
    @include make-col(5);
  }

  @media(min-width: $screen-xl) {
    @include make-col(4.9);
    max-width: 470px;
  }
}

.section__col-fifty {
  @include make-col-ready();

  @media (min-width: $screen-sm) {
    @include make-col(6);
  }
}
