.title {
  font-family: $geometria;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: $black;

  span {
    font-weight: 700;
  }

  &--white {
    color: $white;

    span {
      color: $white;
    }
  }

  @media (min-width: $screen-md) {
    font-size: 36px;
    line-height: 46px;
  }
}

