@font-face {
  font-family: 'Geometria';
  src:  url('../fonts/geometria/Geometria-Thin.woff2') format('woff2'),
        url('../fonts/geometria/Geometria-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src:  url('../fonts/geometria/Geometria-ExtraLight.woff2') format('woff2'),
        url('../fonts/geometria/Geometria-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src:  url('../fonts/geometria/Geometria-Light.woff2') format('woff2'),
        url('../fonts/geometria/Geometria-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src:  url('../fonts/geometria/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/geometria/Geometria-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src:  url('../fonts/gotham/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/gotham/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unineue';
  src:  url('../fonts/unineue/UniNeue-Light.woff2') format('woff2'),
        url('../fonts/unineue/UniNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unineue';
  src:  url('../fonts/unineue/UniNeue-Bold.woff2') format('woff2'),
        url('../fonts/unineue/UniNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
