html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

body {
  background: #fafafa;
  font: 400 16px $geometria;
  color: $text-color;
}

a {
  cursor: pointer;
  transition: $time;

  &:hover {
    text-decoration: none;
  }
}

button {
  transition: $time;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.fancybox-active {
  overflow: hidden !important;
  position: fixed;

  @media (min-width: $screen-xl) {
    position: static;
  }
}

.datepicker-dropdown  {
  // z-index: 99999999999 !important;
}

.datepicker-panel>ul>li.muted, .datepicker-panel>ul>li.muted:hover {
  opacity:  0.5 !important;
}

.js-field {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
