.service {
  position: relative;
  width: 100%;
  min-height: 372px;
  padding: 26px 26px 22px 22px;
  border-radius: 10px;
  margin-bottom: 19px;
  background-image: linear-gradient(-217deg, #1e2328 0%, #080a0d 100%);
  // background-size: cover !important;

  &--min {
    min-height: 276px;

    @media (min-width: $screen-md) {
      min-height: calc(100% - 30px);
    }

    @media (min-width: $screen-xl) {
      min-height: 380px;
    }
  }

  &--ultra {
    background: url("../img/decor/service-1.png") no-repeat center / cover;
  }

  &--medium {
    background: url("../img/decor/service-2.png") no-repeat center / cover;
  }

  &--light {
    background: url("../img/decor/service-3.png") no-repeat center / cover;
  }

  &--fortification {
    background: url("../img/decor/service-4.png") no-repeat center / cover;
  }

  &--couple {
    background: url("../img/decor/service-5.png") no-repeat center / cover;

    @media (min-width: $screen-md) {
      min-height: calc(100% - 30px);
    }
  }

  &--birthday {
    background: url("../img/decor/service-6.png") no-repeat center / cover;
  }

  @media (min-width: $screen-md) {
    padding: 37px 32px 22px 29px;
    min-height: 460px;
    margin-bottom: 30px;
  }
}



.service__quantity {
  font-size: 14px;
  font-weight: 300;
  color: #6a7388;
}

.service__title {
  max-width: 200px;
  font-size: 30px;
  font-weight: 700;
  color: $white;
  margin-bottom: 0;

  &--black {
    color: $black;
  }

  &--fortification {
    font-size: 21px;
    margin-top: -34px;

    @media (min-width: $screen-md) {
      font-size: 30px;
      margin-top: -9px;
    }
  }

  &--couple {
    font-size: 21px;
    margin-top: -47px;
    margin-bottom: 8px;

    @media (min-width: $screen-md) {
      font-size: 30px;
      // margin-top: -9px;
      margin-top: -50px;
      margin-bottom: 11px;
    }
  }

  &--birthday {
    max-width: 160px;
    font-size: 21px;
    margin-top: 62px;
    margin-bottom: 5px;

    @media (min-width: $screen-md) {
      max-width: 200px;
      margin-top: 80px;
      margin-bottom: 5px;
      font-size: 30px;
    }
  }

  &--ultra {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -5px;

    @media (min-width: $screen-md) {
      font-size: 50px;
    }
  }

  &--medium {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -5px;

    @include text-gradient(
      linear-gradient(-39deg, #7a818c 0%, #ffffff 100%),
      #ffffff
    )

    @media (min-width: $screen-md) {
      font-size: 50px;
    }
  }

  &--light {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -5px;

    @include text-gradient(
      linear-gradient(-39deg, #8c897a 0%, #ffffff 100%),
      #ffffff
    )

    @media (min-width: $screen-md) {
      font-size: 50px;
    }
  }
}

.service__header {
  position: relative;
  width: 100%;
  margin-bottom: 48px;

  @media (min-width: $screen-md) {
    margin-bottom: 57px;
  }
}

.service__question {
  position: absolute;
  top: -4px;
  right: -1px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 9;
  transition: $time;
  background: url("../img/icon/question-mark.svg") no-repeat center / cover;

  &:hover {
    opacity: 1;
  }
}

.service__desc {
  max-width: 185px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 73px;
  color: $white;

  &--width {
    max-width: 140px;

    @media (min-width: $screen-md) {
      max-width: 130px;
    }
  }

  &--black {
    color: $black;
  }

  @media (min-width: $screen-md) {
    font-size: 21px;
    margin-bottom: 79px;
  }

  &--size {
    font-size: 12px;
    line-height: 18px;

    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.service__tooth-tone {
  position: relative;
  width: 121px;

  &::before {
    content: "";
    display: block;
    width: 121px;
    height: 13px;
    margin-bottom: 5px;
    background-image: url("../img/icon/tooth.svg");
    background-repeat: space;
    background-size: 11px 12px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 13px;
    background-image: url("../img/icon/tooth-wh.svg");
    background-repeat: space;
    background-size: 11px 12px;
  }

  &--fill::after {
    width: 100%;
  }

  &--8::after {
    width: 88px;
  }

  &--6::after {
    width: 66px;
  }
}

.service__char {
  &--ident {
    margin-bottom: 13px;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }
  }
}

.service__char-text {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #828ba2;
  margin-bottom: 4px;

  &--size {
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-size: 14px;
    }
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }
}

.service__char-total sub {
  font-size: 14px;
  font-weight: 200;
  font-family: $geometria;
  bottom: 0;
}

.service__char-total {
  font-size: 23px;
  font-weight: 300;
  font-family: $unineue;
  color: $white;

  &--ru {
    padding-right: 16px;
    background: url("../img/icon/ruble-wh.svg") no-repeat 100% 50% / 14px;

    @media (min-width: $screen-md) {
      padding-right: 23px;
      background-size: 20px;
    }
  }

  &--black {
    color: $black;
    background-image: url("../img/icon/ruble.svg")
  }

  @media (min-width: $screen-md) {
    font-size: 29px;
  }

  &--size {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    background-position: 100% 68%;

    @media (min-width: $screen-lg) {
      font-size: 50px;
      line-height: 60px;
    }
  }
}

.service__footer {
  position: absolute;
  bottom: 25px;
  left: 21px;
  right: 25px;

  &--md-bottom {
    bottom: 63px;
  }

  @media (min-width: $screen-md) {
    bottom: 18px;
    left: 29px;
    right: 32px;
  }
}

.service__btn {
  position: absolute;
  right: 0;
  letter-spacing: 1.8px;
  bottom: 5px;
  padding: 10px 19px;
  font-size: 9px;
}

.service__stipulation {
  position: absolute;
  bottom: 0px;
  right: 17px;
  max-width: 137px;
  margin: 0;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;

  &--white {
    color: $white;
  }

  @media (min-width: $screen-md) {
    bottom: 7px;
    right: 0;
    max-width: 165px;
    font-size: 14px;
    line-height: 21px;
  }
}

.service__footer--md-bottom .service__stipulation {
  bottom: -38px;
  left: 0;

  @media (min-width: $screen-md) {
    left: auto;
    right: 0;
    bottom: 7px;
    max-width: 165px;
    font-size: 14px;
    line-height: 21px;
  }
}

.service__answer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: -1;
  opacity: 0;
  border-radius: 10px;
  transition: $time;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-217deg, #1e2328 0%, #080a0d 100%);
    background-color: $black;
    opacity: 0.95;
    border-radius: 10px;
    z-index: -1;
  }

  &--active {
    opacity: 1;
    z-index: 1;
  }

}

.service__answer p {
  font-family: $unineue;
  font-size: 12px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
  color: $white;
}
