// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$line-height:                 1.5 !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               rem(3px) !default;

.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 9px;

  &__name {
    display: inline-block;
    font-size: 8px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    color: #adb3bd;
    margin-left: 14px;
    margin-bottom: 10px;
    // @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0 13px 13px rgba(53, 85, 136, 0.25);
    border-radius: 10px;
    border: 1px solid #3f4959;
    background-color: #3f4959;
    margin: 0;
    padding: 9px;
    line-height: $line-height;
    font-size: 12px;
    font-family: inherit;
    appearance: textfield;
    letter-spacing: 1.2px;
    color: #9aaac7;

    &:focus {
      // @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      // background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: #9aaac7;
      opacity: 1;
    }
  }

  &__help-text {
    // @include field-help-text;
  }
}

.field-text__input--phone {
  padding-left: 35px;
  background-image: url("../img/icon/phone-gradient.png");
  background-position: 15px 50%;
  background-size: 12px;
  background-repeat: no-repeat;
}

.field-text__input--name {
  padding-left: 35px;
  background-image: url("../img/icon/user.svg");
  background-position: 15px 50%;
  background-size: 12px;
  background-repeat: no-repeat;
}

.field-text .dropdown-toggle {
  text-transform: none;
  font-weight: 300;
  font-size: 12px;
  border-radius: 10px;
  background: #3f4959;
  color: #9aaac7;
  letter-spacing: normal;
  padding: 10px 5px 9.5px 16px;
  box-shadow: 0 13px 13px rgba(53, 85, 136, 0.25);
  border: 1px solid #3f4959;
}

.selectpicker--dots + .dropdown-toggle {
  padding-left: 55px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 6px;
    border: none;
    background: url("../img/icon/dots.png") no-repeat center;
  }
}

.field-text .bootstrap-select .dropdown-menu .inner {
  max-height: 208px !important;
}

.bootstrap-select.show .dropdown-toggle{
  border-radius: 10px 10px 0 0px;
}

.dropdown-menu {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0 0 10px 10px;
  background-color: #3f4959;

}

.dropdown-item {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: $white;

  &:hover {
    color: $white;
    background-color: #4f5a6b;
  }
}

.bootstrap-select .dropdown-menu li a {
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: $white;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #4f5a6b;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-60%) rotate(40deg);
    width: 4px;
    height: 8px;
    z-index: 1;

    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
