// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.5 !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               rem(3px) !default;

.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 12px 20px;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 10px;
  font-family: inherit;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  border-radius: 50px;
  border: none;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    text-decoration: none;
    // color: $text-color;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  &:visited {
    // color: $text-color;
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  &--dott {
    background: transparent;
    border-radius: 0;
    padding: 0 0 3px;
    border-bottom: 1px dashed $black;
    color: $black;
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;

    @media (min-width: $screen-md) {
      font-size: 16px;
      padding: 0 0 12px;
    }
  }

  &--main {
    color: #fff;
    background-image: linear-gradient(-39deg, #7c2189 0%, #da4453 100%), linear-gradient(64deg, #3a1f70 0%, #dc768e 100%);
    // border: 1px solid $color-main;

    &:hover,
    &:focus {
      color: #fff;
      // background-color: darken($color-main, 10%);
      // border-color: darken($color-main, 12%);
    }

    &--disabled,
    &:disabled {
      color: #fff;
      // background-color: $color-main;
      // border-color: $color-main;
    }
  }
}
