.toggle-sliders,
.toggle-sliders__fill {
  display: block;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.toggle-sliders {
  background: #e6e6e6;
  position: relative;
  max-width: 95px;
  width: 100%;
  height: 37px;
  box-shadow: inset 2px 2px 7px rgba(0,0,0,.49);
  border-radius: 21px;
  border: none;
  margin-bottom: 17px;
  background-color: #4b505b;
  cursor: pointer;

  &::after {
    content: "после";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: #6a7388;
    transition: $time;
  }

  &::before {
    content: "до";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: #6a7388;
    transition: $time;
  }

  @media (min-width: $screen-xl) {
    max-width: 113px;
    height: 42px;
  }
}

.toggle-sliders__handle span {

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 14px;
    height: 1px;
    opacity: 1;
    transition: $time;
    background: #da4453;
  }

  &::after {
    top: 50%;
    margin-top: -5px;
    transform: translateX(-50%) rotate(40deg);
  }

  &::before {
    bottom: 50%;
    margin-bottom: -5px;
    transform: translateX(-50%) rotate(-40deg);
  }

}


.toggle-sliders--active {
  &::after {
    opacity: 0;
  }
}

.toggle-sliders--active span {

  box-shadow: 2px 0 13px rgba(0, 0, 0, 0.5), 0 0 79px rgba(122, 175, 203, 0.65);

  &::after {
    top: 50%;
    margin-top: -3px;
    background: #c5c9d0;
    transform: translateX(-50%);
  }

  &::before {
    bottom: 50%;
    margin-bottom: -3px;
    background: #c5c9d0;
    transform: translateX(-50%);
  }
}

.toggle-sliders__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  box-shadow: 2px 0 13px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: $white;
  z-index: 1;
  transition: $time;
  border-radius: 50%;

  @media (min-width: $screen-xl) {
    width: 43px;
    height: 43px;
  }
}


.toggle-sliders--horizontal .toggle-sliders__handle {
  top: 0px;
  touch-action: pan-y;
  transition: $time;
}
