//- Все примеси в этом файле должны начинаться c имени блока (form)
//- ВНИМАНИЕ: в файле две примеси

mixin form(mods)
  form.form(class= mods)
    h3.form__title Онлайн запись в студию
    label.field-text
      span.field-text__name Ваш телефон
      input.field-text__input(type="tel" placeholder="+7 (___) - __ - __ - ___" required)
    label.field-text
      span.field-text__name Выбор услуги
      select.selectpicker(data-width="100%")
        option - Выберете услугу -
        option MEDIUM отбеливание
        option LIGHT отбеливание
        option LIGHT отбеливание
        option ULTRA отбеливание
        option Укрепление эмали
    span.field-text__name выберете время
    .form__row.form__row--ident
      .form__column-7
        label.field-text
          select.selectpicker(data-width="100%")
            option 27 октября
            option 28 октября
            option 29 октября
      .form__column-5
        label.field-text
          select.selectpicker(data-width="100%")
            option 12 : 00
            option 13 : 00
            option 14 : 00
    button.btn.btn--main.form__btn Записаться в студию
    label.field-checkbox
      input.field-checkbox__input(type="checkbox" checked)
      span.field-checkbox__text Я даю согласие на обработку #[a(href="#" target="_blank") персональных данных]
