mixin modal-callback()
  .modal.fade(id="modal-callback" tabindex="-1" role="dialog")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content.modal-content--auto
        .modal__content
          button.modal__close(type="button" data-dismiss="modal" aria-label="Close")
          form.form
            input.js-field(name="subname", type="text")
            h3.form__title Заказать обратный звонок
            label.field-text
              span.field-text__name ваше имя
              input.field-text__input.field-text__input--name(type="text" placeholder="Валерия" required)
            label.field-text.form__mb
              span.field-text__name Ваш телефон
              input.field-text__input.field-text__input--phone(type="tel" placeholder="+7 (___) - __ - __ - ___" required minlength="18")
            button.btn.btn--main.form__btn Записаться в студию
            label.field-checkbox
              input.field-checkbox__input(type="checkbox" checked)
              span.field-checkbox__text Я даю согласие на обработку #[a(href="#" target="_blank") персональных данных]
