.whitening {
  position: relative;
  max-width: 136px;
  width: 100%;
  margin-left: auto;
  margin-bottom: 20px;
  z-index: 2;

  @media(min-width: $screen-xl) {
    max-width: 350px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.whitening__list {
  @include ul-none();
}

.whitening__number {
  display: none;

  @media(min-width: $screen-xl) {
    display: block;
    // margin: 17px 0 0px;
    margin: 0px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 300;
    color: #6a7388;
  }
}

.whitening__name {
  display: inline-block;
  margin-bottom: 7px;
  color: $white;
  font-size: 12px;
  transition: $time;

  @media(min-width: $screen-xl) {
    font-size: 18px;
  }
}

.whitening__item {
  display: flex;
  // align-items: flex-start;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 47px;

  &:last-child {
    margin-bottom: 0;
  }

  @media(min-width: $screen-xl) {
    margin-bottom: 75px;
  }
}

.whitening__text {
  font-size: 11px;
  font-weight: 400;
  color: #b8bfd1;
  margin: 0;

  @media(min-width: $screen-xl) {
    font-size: 14px;
  }
}

.whitening__desk {
  position: relative;
  max-width: 94px;
  width: 100%;
  min-height: 48px;
  margin-left: auto;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -42px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 3px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: -35px;
    width: 17px;
    height: 8px;
    opacity: 0;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    transition: opacity .3s;
    box-shadow: 1px 2px 0 $black, inset 0 -2px 0 $black;
    z-index: 1;
  }

  @media(min-width: $screen-xl) {
    max-width: 201px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

.whitening__desk--active .whitening__name {
  font-weight: 700;
}

.whitening__desk--active::before {
  opacity: 1;
}
