mixin modal-city()
  .modal-city(id="modal-city" tabindex="-1" role="dialog")
    .modal-city__full
      .container
        .modal-city__inner
          ul.modal-city__list
            li.modal-city__item
              h3.modal-city__item-title C
              ul.modal-city__sublist
                li
                  a Салават
                li
                  a Стерлитамак
            li.modal-city__item
              h3.modal-city__item-title У
              ul.modal-city__sublist
                li
                  a Уфа

