mixin menu(menu)
  .menu
    .container
      .menu__header
        a.logo(href="index.html")
          img(src="img/icon/logo-wh.svg", alt="White Rabbit cтудия отбеливания зубов")
        .phone-callback
          a.phone-callback__tel(href="tel:88007755807") 8 800 77 55 807
          button.phone-callback__btn(data-toggle="modal" data-target="#modal-callback") Заказать звонок
      nav.navigation
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href="#stages" data-scroll="") Как происходит отбеливание
          li.navigation__item
            a.navigation__link(href="#bleach" data-scroll="") Степени отбеливания
          li.navigation__item
            a.navigation__link(href="#visiting" data-scroll="") Бонусы и подарки
          li.navigation__item
            a.navigation__link(href="#services" data-scroll="") Услуги студии
          li.navigation__item
            a.navigation__link(href="#result" data-scroll="") Результаты прцедуры
          li.navigation__item
            a.navigation__link(href="#catalog" data-scroll="") Продукция клиники
          li.navigation__item
            a.navigation__link(href="#news" data-scroll="") Полезные советы
          li.navigation__item
            a.navigation__link(href="#contact" data-scroll="") Контакты
        ul.social.navigation__social
          li.social__item
            a.social__link(href="#", target="_blank", aria-label="Социальная сеть Facebook") vkontakte
          li.social__item
            a.social__link(href="#", target="_blank", aria-label="Социальная сеть Instagram") facebook
          li.social__item
            a.social__link(href="#", target="_blank", aria-label="Социальная сеть Vkontakte") instagram
