mixin page-header()
  header.page-header
    a.logo(href="index.html")
      img(src="img/icon/logo-wh.svg", alt="White Rabbit cтудия отбеливания зубов")
    .phone-callback
      a.phone-callback__tel(href="tel:88007755807") 8 800 77 55 807
      button.phone-callback__btn(data-toggle="modal" data-target="#callback") Заказать звоно
