mixin page-header()
  header.page-header
    +menu()
    .page-header__toggle
      a.page-header__toggle-btn(href="#menu" aria-label="Кнопка открытие, закрытие меню" data-fancybox="menu" data-fancybox-close)
        span
    a.logo.page-header__logo(href="index.html")
      img(src="img/icon/logo-wh.svg", alt="White Rabbit cтудия отбеливания зубов")
    .phone-callback
      a.phone-callback__tel(href="tel:88007755807") 8 800 77 55 807
      button.phone-callback__btn(data-toggle="modal" data-target="#modal-callback") Заказать звонок
