mixin tovar()
  .tovar
    img.tovar__img(src="img/content-img/tovar-1.jpg")
    section.tovar__desc
      h3.tovar__title Зубная паста «TEETH»
      p.tovar__text Пару строк описания, для чего используется товар
      footer.tovar__footer
        p.tovar__price
          span.tovar__price-text Стоимость
          span.tovar__price-cost 3300
        button.btn.tovar__btn Купить
