extends pug/layout.pug

block meta
  title Все новости
block header
  .fullpage.fullpage--blog
    .container
      +page-header()
      .fullpage__center
        h1.title.title--white Блог #[span студии]
        p.fullpage__text Советы и полезные статьи по уходу за зубами
block content
  main
    .page
      .container
        .page__row.page__row--xs-reverse
          .page__large
            article.blog-prev
              img.blog-prev__img(src="img/content-img/blog-1.jpg", alt="Как замечательно отбеливать зубы в студии WR")
              section.blog-prev__content
                h2.blog-prev__title Как замечательно отбеливать зубы в студии WR
                p Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purusat leo dignissim congue. Mauris elementum
                footer.blog-prev__footer
                  time.blog-prev__time(datetime="2018-11-26") 26, ноябрь 2018
                  a.btn.btn--dott.blog-prev__btn(href="single.html") Читать далее
            article.blog-prev
              img.blog-prev__img(src="img/content-img/blog-1.jpg", alt="Как замечательно отбеливать зубы в студии WR")
              section.blog-prev__content
                h2.blog-prev__title Как замечательно отбеливать зубы в студии WR
                p Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purusat leo dignissim congue. Mauris elementum
                footer.blog-prev__footer
                  time.blog-prev__time(datetime="2018-11-26") 26, ноябрь 2018
                  a.btn.btn--dott.blog-prev__btn(href="single.html") Читать далее
            article.blog-prev
              img.blog-prev__img(src="img/content-img/blog-1.jpg", alt="Как замечательно отбеливать зубы в студии WR")
              section.blog-prev__content
                h2.blog-prev__title Как замечательно отбеливать зубы в студии WR
                p Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purusat leo dignissim congue. Mauris elementum
                footer.blog-prev__footer
                  time.blog-prev__time(datetime="2018-11-26") 26, ноябрь 2018
                  a.btn.btn--dott.blog-prev__btn(href="single.html") Читать далее
            +pagination("center")
              +pagination-item('', '#', false, "prev")
              +pagination-item('1', '#', true)
              +pagination-item('...')
              +pagination-item('4', '#')
              +pagination-item('5', '#')
              +pagination-item('6', '#')
              +pagination-item('...')
              +pagination-item('', '#', false, "next")
          .page__mini
            section.cat-menu
              h3.cat-menu__title Категории
              ul.cat-menu__list
                li.cat-menu__item
                  a.cat-menu__link(href="#") Здоровье
                li.cat-menu__item
                  a.cat-menu__link(href="#") Лечение
                li.cat-menu__item
                  a.cat-menu__link(href="#") Отбеливание
                li.cat-menu__item
                  a.cat-menu__link(href="#") Питание
                li.cat-menu__item
                  a.cat-menu__link(href="#") Вредное
                li.cat-menu__item
                  a.cat-menu__link(href="#") Полезное
                li.cat-menu__item
                  a.cat-menu__link(href="#") Боль и страхи
block footer
  +page-footer()
