$gradient-color: linear-gradient(-238deg, rgba(55, 36, 110, 0.28) 0%, rgba(196, 117, 140, 0.28) 100%);
$color: rgba(196, 117, 140, 0.28);

.stages {
  padding-top: 53px;

  padding-bottom: 62px;

  @media (min-width: $screen-lg) {
    padding-top: 79px;
    padding-bottom: 69px;
  }
}

.stages__all {

  @media (min-width: $screen-lg) {
    margin-left: 70px;
  }
}

.stages__header {
  margin-bottom: 38px;

  @media (min-width: $screen-lg) {
    margin-bottom: 86px;
  }
}

.stages__item {

  @media (min-width: $screen-lg) {
    width: 832px;
  }
}

.stages__slider .owl-stage-outer {


  @media (min-width: $screen-lg) {
    overflow: visible;
  }
}

.stages__slider {
  position: relative;
  z-index: 0;
  margin-bottom: 26px;
  // margin-bottom: 7px;

  @media (min-width: $screen-lg) {
    margin-bottom: 89px;
  }
}

.stages__dots-wrap {
  overflow-x: auto;

  @media (min-width: $screen-lg) {
    overflow-x: visible;
  }
}

.stages__dots-list {
  @include ul-none();
  display: flex;
  justify-content: space-between;
  counter-reset: dots;
  min-width: 620px;
  padding: 0 2px;

  @media (min-width: $screen-lg) {
    max-width: 1060px;
    padding: 0;
  }
}

.stages__dots-item {
  position: relative;
  width: 50%;
  counter-increment: dots;
  z-index: 1;

  @media (min-width: $screen-lg) {
    max-width: 170px;
    width: 100%;
  }
}

.stages__dot {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  padding-top: 45px;
  padding-bottom: 5px;
  border-bottom: 1px dashed transparent;
  color: #3d3e52;
  transition: $time;

  &::after {
    content: "0"counter(dots);
    position: absolute;
    top: -5px;
    left: -4px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #ebebeb;
    z-index: -1;

    @media (min-width: $screen-lg) {
      font-size: 80px;
      line-height: 62px;
      padding-bottom: 9px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    width: 10px;
    height: 2px;
    background-color: $black;

    @media (min-width: $screen-lg) {
      font-size: 80px;
      line-height: 62px;
      top: 27px;
    }
  }

  &--active {
    color: $black;
    font-weight: 700;
    border-bottom: 1px dashed $black;

    &::after {
      @include text-gradient($gradient-color, $color);
    }
  }

  &:hover {
    color: inherit;
  }

  @media (min-width: $screen-lg) {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    padding-top: 41px;
  }
}

.stages__slider .owl-nav [class*=owl-] {
  position: absolute;

  bottom: -27px;
  width: 68px;
  height: 68px;

  border-radius: 50%;
  box-shadow: 0 17px 38px rgba(89, 89, 89, 0.11);
  background-color: #fff!important;
  background-repeat: no-repeat !important;
  background-size: 17px !important;
  background-position: center !important;

  span {
    display: none;
  }

  @media (min-width: $screen-md) {
    transform: translateY(-50%);
    top: 50%;
    bottom: inherit;
  }
}

.stages__slider .owl-nav .owl-prev.disabled,
.stages__slider .owl-nav .owl-next.disabled {
  opacity: 0;
}

.stages__slider .owl-nav .owl-prev {
  left: -8px;
  background-image: url("../img/icon/icon-arrow-back-black.svg") !important;

  @media (min-width: $screen-md) {
    left: -40px;
  }
}

.stages__slider .owl-nav .owl-next {
  right: -8px;
  background-image: url("../img/icon/icon-arrow-next-black.svg") !important;

  @media (min-width: $screen-md) {
    // right: -10px;
    right: -40px;
  }

  @media (min-width: $screen-lg) {
    // right: -10px;
    right: -10px;
  }

  @media (min-width: $screen-xl) {
    right: 220px;
  }
}
